* {
    box-sizing: border-box;
}










:root {
    --color1: #D89584;
    --color2: #F4F4F4;
}

p.texte_titre {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    color: white;
    margin-bottom: 0px;

}





img.img_acceuil {
    margin-top: 30px;
    height: 1000px;
}

div.position_img_accueil {
    text-align: center;
}


p.titre_image{
    text-align: center;
    font-weight: bold;
}

body {

    margin: 0;
    font-family: Arial;
    
}

.linear-gradient {
    background: linear-gradient(rgba(143, 192, 80, 0.747), rgb(255, 255, 255));
}

h1 {
    color: Black;
    text-align: center;
    font-size: 42px;
    margin-bottom: 0px;
}

