

p.texte_titre {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    color: white;
    margin-bottom: 0px;
    margin-top: 0px;


}



img.img_acceuil {
    margin-top: 30px;
    min-width: 300px;
    width: 600px;
}

div.position_img_accueil {
    text-align: center;
}


p.titre_image{
    text-align: center;
    font-weight: bold;
}

body {

    margin: 0;
    font-family: Arial;
    min-width: 375px;

    
}

div.linear-gradient {
    background: linear-gradient(rgba(143, 192, 80, 0.747), rgb(255, 255, 255));
    width: 100%;
    min-width: 375px;
}

h1 {
    color: Black;
    text-align: center;
    font-size: 42px;
    margin-bottom: 0px;
}

