


body {
    background-image: linear-gradient(rgba(143, 192, 80, 0.747), rgb(255, 255, 255));
    font-family: Arial;  
}




div.titre {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 25px;
}

p.text_titre {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: white;
    margin-bottom: 0px;
    margin-top: 25px;
}


h1.nom_coureur {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: black;
    margin-bottom: 30px;
    margin-top: 25px;
}

img.image_accueil{
    width: 70%;
}

p.titre_image{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-top: 12px;
    margin-bottom: 5px;
}

/* RESPONSIVE DESIGN : MOBILE */
@media only screen and (max-width: 767px) {



}