

p.texte_titre {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    color: white;
    margin-bottom: 0px;
    margin-top: 0px;


}



img.img_acceuil {
    margin-top: 30px;
    width: 600px;
}

div.position_img_accueil {
    text-align: center;
}


p.titre_image{
    text-align: center;
    font-weight: bold;
}

body {
    background-image: linear-gradient(rgba(143, 192, 80, 0.747), rgb(255, 255, 255));
    margin: 0;
    font-family: Arial;
    min-width: 375px;

    
}


h1 {
    color: Black;
    text-align: center;
    font-size: 42px;
    margin-bottom: 0px;
}

